@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  display: inline-block;
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px;
  white-space: nowrap;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}
/* styles.css */
/* {/* .background 
  background-image: url("../../public/assets/images/bg-01-free-img.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full viewport height */
/* width: 100%;*/
/* } */
